/* layout */

html,
body,
.resizer {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	font-family: 'Courier New', Courier, monospace;
}

html {
	overflow: auto;
	background: #000;
}

/* play button */

.resizer button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem !important;
	height: 5rem !important;
	border-radius: 50%;
	cursor: pointer;
	color: transparent;
	font-size: 0;
	outline: none;
	border: solid .5rem white;
	background: transparent;
	transform: scale(.75);
	opacity: .66;
	transition: transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.resizer button:hover {
	transform: scale(1);
}

.resizer button:active {
	transform: scale(1.1);
}

.resizer button:focus {
	opacity: 1;
}

.resizer button::after {
	content: '';
	background: transparent;
	border-left: 1.6rem solid white;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	width: 0;
	height: 0;
	margin-left: 0.25rem;
}

/* loader */

.resizer p {
	width: initial !important;
	height: initial !important;
	text-align: center;
	color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* game */

canvas {
	cursor: none;
	/* pixelated */
	image-rendering: pixelated;
}
